* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

/* base */

.container {
    width: 60%;
    margin: auto;
} 

.flex {
    display: flex;
}

.inline-grid {
    display: inline-grid;
    margin-left: 20px;
}

/* header */
header {
    display: flex;
    justify-content: center;
}

.forugh-text {
    height: fit-content;
    width: 706px;
    margin-top: 110px;    
    margin-left: 76px;
    padding-right: 40px;
}

.line {
    margin-right: 82px;
    margin-top: -120px;
}

.poster {
    width: 764px;
    margin-top: 25px;
    margin-left: 289px; 
    margin-bottom: 25px;
}
/* interview */
.interview {
    margin-top: -1px;
}
.interview .frame {
    width: 80%;
    height: fit-content;
    margin-top: 97px;
    margin-left: 75px;
}

.interview p {
    position: absolute;
    margin-left: 414px;
    margin-top: -26px;
    font-size: 15;
}

.interview h3 {
    position: absolute;
    margin-left: 362px;
    margin-top: -71px;
}

.interview h3:hover {
    color: #8c3931;
    cursor: pointer;
}

.interview .paper {
    width: 47.5%;
    opacity: 0;
    margin-top: 97px;
    margin-left: -644px;
    position: absolute;
    z-index: -10;
    transition: all 2s ease-in-out;
}
.interview:hover .paper {
    opacity: 1;
    cursor: pointer;
}

.first-frame .column {
    text-align: unset;
    padding: 10px;
    top: 100px;
    opacity: 0;
    transition: all 2s ease-in-out;
    margin-top: 20;
}

.first-frame  .column:hover {
    opacity: 1;
    cursor: pointer;
}

.column {
    float: left;
    width: 50%;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}

 /* .first-frame:hover  .column {
    opacity: 1;
    cursor: pointer;  
} */

.sw {
    opacity: 1;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.sw:hover  {
    color: #8c3931;
}





/* documentary */
.documentary {
    margin-top: 20px;
}

.circle-img {
    position: relative;
    z-index: 2;
    display: flex;
    margin-top: -4px;
}

.title-movie {
    position: absolute;
    top: 545px;
    margin-left: 110;
}

.inline-grid h3 {
    position: absolute; 
    top: 48%;
    left: 6%;
    font-size: 25px;
}

.inline-grid h3:hover {
    color: #8c3931;
    cursor: pointer;
}


.img-link:hover  {
    background-color:#8c3931;
    color: #fff;
}

.inline-grid .documentary-img {
    opacity: 0;
    z-index: 1;
    transition: all 1s ease-in-out;
} 

.inline-grid:hover  .documentary-img {
    opacity: 1;
    z-index: 8;
    cursor: pointer;
}

.img-link {
    background-color: aliceblue;
    opacity: 0;
    padding: 20px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 900;
    margin: 25px auto;
    transition: all 1s ease-in-out; 
}

.inline-grid:hover .img-link{
    opacity: 1;
    cursor: pointer;
}

.bg-white {
    background: rgba(255, 255, 255,0.3);
}

.inline-grid .movie-circle {
    opacity: 0;
    z-index: -20;
    margin-left: -459px;
    margin-top: -524;
    transition: all 2s ease-in-out;
    width: 440px;   
}
.inline-grid:hover  .movie-circle {
    opacity: 1;
    cursor: pointer;
    z-index: -20;
}

/* voice-content */

.voice-section {
    direction: rtl;
}

.memory-img {
    position: relative;
    display: block!important;
    margin-top: -207px;
    margin-right: -13px;
}

.memory-img p {
    text-align: right;
    margin-right: 300px;
    margin-top: -12px;
    position: absolute;
    
}

.memory-voice h3 {
   position: absolute;
   right: 250px;
   top: 26.5%;
   font-size: 25px;
   cursor: pointer;
  
}

.memory-voice h3:hover {
    color: #8c3931;
    cursor: pointer;
    
}
.memory-voice:hover #audio-one {
    opacity: 1;
    cursor: pointer;
   
}
.memory-voice:hover #audio-two {
    opacity: 1;
    cursor: pointer;
   
}
.memory-voice:hover #audio-three {
    opacity: 1;
    cursor: pointer;
   
}
.memory-voice:hover #audio-four {
    opacity: 1;
    cursor: pointer;
   
}

#audio-one {
    position: absolute;
    transition-delay: 0.10s;
    margin-right: 552px;
    margin-top: -414px;
    display: flex;
    opacity: 0;
    transition: all 1.10s ease-in-out; 
}

#audio-two {
    position: absolute;
    margin-top: -340px;
    margin-right: 536px;
    transition-delay: 0.50s;
    opacity:0;
    transition: all 1.40s ease-in-out;
}

#audio-three {
    position: absolute;
    margin-top: -266px;
    margin-right: 520px;
    transition-delay: 0.100s;
    opacity: 0;
    transition: all 1.50s ease-in-out;
}

#audio-four {
    position: absolute;
    transition-delay: 1.40s;
    opacity: 0;
    transition: all 1.80s ease-in-out;
    margin-top: -192px;
    right: 498px;
    
}
.memory-voice .newspaper {
    opacity: 0;
    position: relative;
    margin-top: -828px;
    margin-right: 0px;
    transition: all 2s ease-in-out; 
    z-index: -20;
}

.memory-voice:hover  .newspaper {
    opacity: 1;
    cursor: pointer;
    z-index: -20;
}